.BItem-wrapper {
  width: 50%;
  transition: all .5s ease;
  overflow: hidden;
}

.BItem-wrapper.expanded {
  width: 100%;
}
.BItem-wrapper.expanded:first-child {
  margin-right: 0;
}

.BItem-wrapper.hidden {
  width: 0;
  opacity: 0;
}

.BItem-wrapper.hidden .BItem-subinfo {
}

.BItem-wrapper.hidden .BItem-card {
  padding: 0;
}

.BItem-wrapper.hidden:first-child {
  margin-right: 0;
}

.BItem-card {
  cursor: pointer;
  position: relative;
  padding: 15px;
  color: white;
  border-radius: 7px;
  overflow: hidden;
  height: 150px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.BItem-wrapper:first-child {
  margin-right: 20px;
}

.BItem-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(92, 167, 252, 0.8), rgba(92, 167, 252, 1));
}

.BItem-dashboard {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.BItem-buildingName {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

.BItem-roomsLeft {
  float: right;
  text-align: right;
  font-weight: 300;
}

.BItem-roomsLeft-counter span {
  font-size: 35px;
}

.BItem-roomsLeft-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

.BItem-subinfo {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 10px;
  height: 1em;
  overflow: hidden;
}

.BSwitcher-switch {
  display: flex;
  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: row;
}

.Map {
  display: flex;
  margin: 50px;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 60px;
  width: 60%;
  /*background: #f3f3f3;*/
  /*align-items: center;*/
  border-radius: 5px;
  justify-content: center;
  min-height: 300px;
}


@media (max-width: 700px) {

  .Map {
    display: none;
  }

  .BItem-wrapper:first-child {
    margin-right: 0;
  }
  .BItem-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .BSwitcher-switch {
    flex-wrap: wrap;
  }
  .BItem-wrapper.hidden {
    width: 100%;
    display: none;
  }
}
