.LargeButton {
  background: #A8A8A8;
  border-radius: 5px;
  color: #f5f5f5;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}

.LargeButton:hover {
  background: #A0A0A0;
}
