.RoomsList {
  width: 50%;
}

.RoomsList-floor {
  margin-bottom: 30px;
}

.RoomsList-floor-name {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.Room-item {
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.Room-id {
  display: inline-block;
  margin: 0;
  font-size: 27px;
  margin-right: 10px;
}

.Room-status {
  font-weight: 300;
  margin-left: auto;
  display: inline-block;
  letter-spacing: normal;
}

.Room-time {
  font-style: italic;
  font-weight: bold;
  letter-spacing: normal;
}
